{% extends "base.html" %}
{% block title %}
	Log-In
{% endblock title %}
{% block content %}
<h1>Log-In</h1>
	{% if forms.error %}
			<p>Username or password didn't match. Please try again</p>
		{% else %}
			<p>Please use following form </p>
	{% endif %}
	<div class="col-md-3">
		<form action="{% url 'account:login' %}" method="POST">
			{{ form.as_p }}
			{% csrf_token %}
			<input type="hidden" name="text" value="{{ next }}">
			<p><input type="submit" value="Log-In"></p>
		</form>
		<p><a href="{% url 'account:password_reset' %}">Forgotten your password?</a></p>
		<p>Not registered yet?  <a href="{% url 'account:register' %}">register</a></p>
	</div>
{% endblock content %}